<!doctype html>
<html>

<head>
  <title>Supermassive</title>
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Supermassive</h1>

      <a href="/login" class="btn">Login</a>
      <a href="/signup" class="btn">Signup</a>
    </div>

  </div>
</body>

</html>
