<!doctype html>
<html>

<head>
  <title>Supermassive</title>
  <% include ../partials/head %>
</head>

<body>

  <header>
     <% include ../partials/header %>
  </header>

  <div class="container">

      <h1>
        <%= user.local.username %>
      </h1>

      <a href="/logout" class="btn btn-default btn-sm">Logout</a>

  </div>
</body>

</html>
