<!doctype html>
<html>

<head>
  <title>Supermassive</title>
  <% include ../partials/head %>
</head>

<body>
  
  <header>
     <% include ../partials/header %>
   </header>

  <div class="container">

      <h1>Trending</h1>

  </div>
</body>

</html>
