<!doctype html>
<html>

<head>
  <title>Supermassive</title>
  <% include ../partials/head %>
</head>

<body>
    <div id= "left_side">

    </div>

    <div id= "top">

    </div>

    <div id= "bottom">

    </div>
    <div id= "right_side">

    </div>
  <header>
     <% include ../partials/header %>
   </header>

  <div class="container">
      <div id=logo>

        <% include ../partials/logo_search %>
      </div>

      <div id= "buttons">
        <a href="/login" class="btn">Login</a>
        <a href="/signup" class="btn">Signup</a>
      </div>


  </div>
  <div id="search_div">
    <% include ../partials/search %>
    <span id="random">Show me anything<span>
  </div>
</body>

</html>
