<!doctype html>
<html>

<head>
  <title>Supermassive</title>
  <% include ../partials/head %>
</head>

<body>

  <% include ../partials/border %>

    <header>
      <% include ../partials/header %>
    </header>

    <div class="container">
      <div id=logo>

        <% include ../partials/logo_search %>
      </div>

    </div>

    <div id="search_div">
      <% include ../partials/search %>


    <div id="buttons">
      <a href="/login" class="btn">Login</a>
      <a href="/signup" class="btn">Signup</a>
    </div>

  </div>

</body>

</html>
