<!doctype html>
<html>

<head>
  <title>Supermassive</title>
  <% include ../partials/head %>
</head>

<body>

  <header>

  </header>

  <div class="container">

    <% include ../partials/border %>

      <% include ../partials/header %>

        <div class="logo-login">

          <% include ../partials/logo %>
          <a href="/"></a>

        </div>

          <% include ../partials/loading%>

  </div>

</body>

</html>
