<!doctype html>
<html>

<head>
  <title>Supermassive</title>
  <% include ../partials/head %>
</head>

<body>

  <% include ../partials/border %>

  <header>
     <% include ../partials/header %>
  </header>

  <div class="container">

    <div class="logo-login">
      <% include ../partials/logo %>
    </div>

      <h1>
        <p id="myGreeting"> </p> <%= user.local.username %> ...
      </h1>

        <h2>
          <span id="edit_profile">Edit Profile</span>
        </h2>

      <% include ..//partials/profile %>

      <a href="/logout" class="btn btn-default btn-sm">Logout</a>

  </div>
</body>

</html>
