<!doctype html>
<html>

<head>
  <title>Supermassive</title>
  <% include ../partials/head %>
</head>

<body>

  <header>

  </header>

  <div class="container">

    <% include ../partials/border %>

      <% include ../partials/header %>

    <div class="logo-login">

      <% include ../partials/logo %>

    </div>

    <h1>Signup</h1>

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>

      <div class="alert alert-danger">

        <%= message %>

      </div>

    <% } %>

    <!-- LOGIN FORM -->
    <div class ="signup_form_div">

      <% include ../partials/sign_up %>

    </div>

  </div>

</body>

</html>
