<!doctype html>
<html>

<head>
  <title>Supermassive</title>
  <% include ../partials/head %>
</head>

<body>

  <% include ../partials/border %>
  <header>
     <% include ../partials/header %>
   </header>

  <div class="container">

    <div id="logo">
      <% include ../partials/logo %>
    </div>

      <h1>TRENDING SEARCHES</h1>
        <div>
          <% include ../partials/trending %>
        </div>

  </div>
</body>

</html>
