<!--
<nav>


  <a href="/trending"><img id="trending-logo" src="http://i.imgur.com/JcGwxkN.png" alt="trending-logo"> </a>

  <a href="/profile"><img id="profile-logo" src="http://i.imgur.com/HzPItVN.png" alt=""></a>

</nav>
-->
<a href="/trending"><img id="trending-logo" src="http://i.imgur.com/JcGwxkN.png" alt="trending-logo"> </a>

<a href="/profile"><img id="profile-logo" src="http://i.imgur.com/HzPItVN.png" alt=""></a>
