<div id="search">
  <input type="text" id="search_form" placeholder='WHAT DO YOU WANT TO SEE?...'><br />
  <button id="search-button">Search</button>
    <div id="random_div">
      <span id="random" onmouseover="stext"   onmouseout="htext">Show me anything
      </span>
    </div>
</div>
