<!doctype html>
<html>

<head>
  <title>Supermassive</title>
  <% include ../partials/head %>
</head>

<body class="home-page">

  <header>
    <% include ../partials/header %>
  </header>

  <% include ../partials/border %>

  <div id="container">

    <%if (user !=undefined) {%>
      <div id="favorite">
        <svg width="30px" height="26px" viewBox="0 0 30 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
          <!-- Generator: Sketch 3.4.2 (15855) - http://www.bohemiancoding.com/sketch -->
            <title>Page 1</title>
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                <g id="04_Post" sketch:type="MSArtboardGroup" transform="translate(-1169.000000, -691.000000)" stroke="#FFFFFF" stroke-width="3">
                    <g id="favorite" sketch:type="MSLayerGroup" transform="translate(1168.000000, 688.000000)">
                        <path d="M21.7712,5 C19.2712,5 16.928,6.9712 15.8,8.0856 C14.6712,6.9712 12.328,5 9.828,5 C5.5568,5 3,7.5 3,11.6856 C3,15.1144 6.1424,17.9856 6.2568,18.0856 L15.1712,26.6856 C15.3424,26.8576 15.5712,26.9432 15.8,26.9432 C16.028,26.9432 16.2568,26.8576 16.428,26.6856 L25.328,18.1144 C25.4568,17.9856 28.6,15.1144 28.6,11.6856 C28.6,7.5 26.0424,5 21.7712,5" id="Page-1" sketch:type="MSShapeGroup"></path>
                    </g>
                </g>
            </g>
        </svg>
      </div>
    <% } %>

    <div id="search-box">


      <div id="logo">
        <svg width="323px" height="130px" viewBox="0 0 324 130" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
          <defs>
            <path id="path-1" d="M0,0.0286 L323.351644,0.0286 L323.351644,130 L0,130"></path>
            <path id="path-3" d="M0,0.0286 L323.351644,0.0286 L323.351644,130 L0,130 L0,0.0286 Z"></path>
            <path id="path-5" d="M0,0 L323.51145,0 L323.51145,130 L0,130 L0,0 Z"></path>
          </defs>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
            <g id="01_Home" sketch:type="MSArtboardGroup" transform="translate(-478.000000, -207.000000)">
              <g id="SM-logo" sketch:type="MSLayerGroup" transform="translate(478.000000, 207.000000)">
                <g id="Group-3">
                  <mask id="mask-2" sketch:name="Clip 2" fill="white">
                    <use xlink:href="#path-1"></use>
                  </mask>
                  <g id="Clip-2"></g>
                  <path d="M0.389512983,19.60569 L0.389512983,18.74769 C0.389512983,7.43834 7.95110592,0.02834 22.6059148,0.02834 C37.9623147,0.02834 44.8216669,6.57969 44.8216669,21.32169 L44.8216669,22.95969 L30.010949,22.95969 C30.010949,16.09569 28.0627344,12.81969 22.6059148,12.81969 L21.8263691,12.81969 C17.538868,12.81969 15.4340947,15.23769 15.4340947,18.35769 L15.4340947,18.66969 C15.4340947,22.41369 16.6813677,24.28569 24.8665972,25.37704 C38.1182239,27.17104 45.2114398,31.38304 45.2114398,43.31704 L45.2114398,44.17439 C45.2114398,56.10839 37.4945873,63.04974 22.6059148,63.04974 C7.79454717,63.04974 -0.000259848555,56.88774 -0.000259848555,41.60039 L-0.000259848555,40.89839 L14.8104581,40.89839 C14.8104581,47.60639 17.1490951,50.25839 22.2161419,50.25839 L22.9956876,50.25839 C28.0627344,50.25839 30.1668581,47.52839 30.1668581,44.56439 L30.1668581,44.25239 C30.1668581,40.74304 28.5298122,38.63704 20.3452323,37.54504 C7.09360569,35.75104 0.389512983,31.53904 0.389512983,19.60569"
                  id="Fill-1" fill="#FFFFFF" sketch:type="MSShapeGroup" mask="url(#mask-2)"></path>
                </g>
                <path d="M49.6183206,42.2166104 L49.6183206,0.992366412 L64.2471592,0.992366412 L64.2471592,41.8291463 C64.2471592,46.6337012 65.5561127,49.8102612 71.9462441,49.8102612 C78.337017,49.8102612 79.6459705,46.6337012 79.6459705,41.8291463 L79.6459705,0.992366412 L94.2748092,0.992366412 L94.2748092,42.2166104 C94.2748092,54.9247874 89.3469842,62.519084 71.9462441,62.519084 C54.5461455,62.519084 49.6183206,54.9247874 49.6183206,42.2166104"
                id="Fill-4" fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
                <path d="M141.63339,27.9998607 C144.495177,27.9998607 147.898383,26.9133003 147.898383,21.1700523 L147.898383,20.5491606 C147.898383,14.8065594 144.495177,13.719999 141.63339,13.719999 L114.924025,13.719999 L114.924025,27.9998607 L141.63339,27.9998607 Z M114.924025,61.5267176 L100.229008,61.5267176 L100.229008,0.992366412 L141.014626,0.992366412 C151.224243,0.992366412 162.748092,3.32006343 162.748092,20.0834919 L162.748092,21.6363678 C162.748092,38.3997962 151.224243,40.7274932 141.014626,40.7274932 L114.924025,40.7274932 L114.924025,61.5267176 Z"
                id="Fill-6" fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
                <path d="M274.885496,0.992366412 L274.885496,13.719999 L181.461088,13.719999 L181.461088,24.2751574 L271.006096,24.2751574 L271.006096,37.00279 L181.461088,37.00279 L181.461088,48.799085 L274.885496,48.799085 L274.885496,61.5267176 L166.717557,61.5267176 L166.717557,0.992366412 L274.885496,0.992366412 Z"
                id="Fill-8" fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
                <g id="Group-12">
                  <mask id="mask-4" sketch:name="Clip 11" fill="white">
                    <use xlink:href="#path-3"></use>
                  </mask>
                  <g id="Clip-11"></g>
                  <path d="M302.070761,28.263235 C304.95508,28.263235 308.385081,27.171235 308.385081,21.399235 L308.385081,20.775235 C308.385081,15.003885 304.95508,13.911885 302.070761,13.911885 L295.289364,13.911885 L295.289364,28.263235 L302.070761,28.263235 Z M295.289364,61.957935 L280.478646,61.957935 L280.478646,1.120535 L301.447125,1.120535 C311.737128,1.120535 323.351708,3.459885 323.351708,20.307235 L323.351708,21.867885 C323.351708,31.773235 319.376026,36.608585 313.997161,39.026585 L323.351708,61.957935 L307.371672,61.957935 L299.420306,41.054585 L295.289364,41.054585 L295.289364,61.957935 Z"
                  id="Fill-10" fill="#FFFFFF" sketch:type="MSShapeGroup" mask="url(#mask-4)"></path>
                </g>
                <path d="M39.3880705,129.007634 L24.1233799,129.007634 L15.4009778,94.0841436 L15.7903997,105.725091 L15.7903997,129.007634 L0.992366412,129.007634 L0.992366412,68.4732824 L23.0329985,68.4732824 L31.7560497,103.396772 L40.4784519,68.4732824 L62.519084,68.4732824 L62.519084,129.007634 L47.7210507,129.007634 L47.7210507,105.725091 L48.1104726,94.0841436 L39.3880705,129.007634 Z"
                id="Fill-13" fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
                <path d="M86.1162244,104.017657 L93.5027374,104.017657 L89.8094809,85.5469743 L86.1162244,104.017657 Z M99.8114095,68.4732824 L114.122137,129.007634 L98.5033811,129.007634 L96.0412101,116.745154 L83.5771105,116.745154 L81.1918823,129.007634 L65.4961832,129.007634 L79.8069111,68.4732824 L99.8114095,68.4732824 Z"
                id="Fill-15" fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
                <path d="M116.491851,86.9022235 L116.491851,86.0510623 C116.491851,74.8318542 123.960478,67.480916 138.435115,67.480916 C153.602074,67.480916 160.377736,73.9800481 160.377736,88.604546 L160.377736,90.2294903 L145.749108,90.2294903 C145.749108,83.4202002 143.824204,80.1703118 138.435115,80.1703118 L137.665153,80.1703118 C133.430364,80.1703118 131.351468,82.569039 131.351468,85.6641708 L131.351468,85.973684 C131.351468,89.6878422 132.583406,91.5449213 140.667361,92.6275726 C153.756708,94.4072734 160.763359,98.5857014 160.763359,110.423936 L160.763359,111.275097 C160.763359,123.113976 153.140739,130 138.435115,130 C123.806486,130 116.10687,123.887115 116.10687,108.721613 L116.10687,108.025209 L130.73614,108.025209 C130.73614,114.679742 133.045383,117.310604 138.050134,117.310604 L138.819454,117.310604 C143.824204,117.310604 145.9031,114.602364 145.9031,111.661989 L145.9031,111.352475 C145.9031,107.871097 144.286823,105.781883 136.202226,104.698587 C123.113521,102.918886 116.491851,98.740458 116.491851,86.9022235"
                id="Fill-17" fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
                <path d="M164.12608,86.9022235 L164.12608,86.0510623 C164.12608,74.8318542 171.594708,67.480916 186.068702,67.480916 C201.236304,67.480916 208.011324,73.9800481 208.011324,88.604546 L208.011324,90.2294903 L193.383337,90.2294903 C193.383337,83.4202002 191.458433,80.1703118 186.068702,80.1703118 L185.298741,80.1703118 C181.063952,80.1703118 178.985697,82.569039 178.985697,85.6641708 L178.985697,85.973684 C178.985697,89.6878422 180.217636,91.5449213 188.301591,92.6275726 C201.390296,94.4072734 208.396947,98.5857014 208.396947,110.423936 L208.396947,111.275097 C208.396947,123.113976 200.774327,130 186.068702,130 C171.440074,130 163.740458,123.887115 163.740458,108.721613 L163.740458,108.025209 L178.369086,108.025209 C178.369086,114.679742 180.679613,117.310604 185.684363,117.310604 L186.453683,117.310604 C191.458433,117.310604 193.53733,114.602364 193.53733,111.661989 L193.53733,111.352475 C193.53733,107.871097 191.919769,105.781883 183.836455,104.698587 C170.747108,102.918886 164.12608,98.740458 164.12608,86.9022235"
                id="Fill-19" fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
                <mask id="mask-6" sketch:name="Clip 22" fill="white">
                  <use xlink:href="#path-5"></use>
                </mask>
                <g id="Clip-22"></g>
                <path d="M230.229008,129.007634 L215.343511,129.007634 L215.343511,68.4732824 L230.229008,68.4732824 L230.229008,129.007634 Z" id="Fill-21" fill="#FFFFFF" sketch:type="MSShapeGroup" mask="url(#mask-6)"></path>
                <path d="M247.516835,129.007634 L233.206107,68.4732824 L248.824222,68.4732824 L257.518763,111.933942 L266.135721,68.4732824 L281.832061,68.4732824 L267.520692,129.007634 L247.516835,129.007634 Z" id="Fill-23" fill="#FFFFFF" sketch:type="MSShapeGroup"
                mask="url(#mask-6)"></path>
                <path d="M323.51145,68.4732824 L323.51145,81.200779 L299.816278,81.200779 L299.816278,91.7558247 L319.562694,91.7558247 L319.562694,104.483321 L299.816278,104.483321 L299.816278,116.27949 L323.51145,116.27949 L323.51145,129.007634 L284.80916,129.007634 L284.80916,68.4732824 L323.51145,68.4732824 Z"
                id="Fill-24" fill="#FFFFFF" sketch:type="MSShapeGroup" mask="url(#mask-6)"></path>
              </g>
            </g>
          </g>
        </svg>
      </div>


      <input type="text" id="search-field" placeholder="WHAT DO YOU WANT TO SEE?">
      <!-- <button id="search-button">Submit</button> -->

      <div id="random-auto"><a>Show me anything</a></div>
    </div>

  </div>

  <div id="loading">

    <div class="keys">
      <svg width="141px" height="66px" viewBox="0 0 141 66" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
          <!-- Generator: Sketch 3.4.2 (15855) - http://www.bohemiancoding.com/sketch -->
          <title>keys</title>
          <desc>Created with Sketch.</desc>
          <defs></defs>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
              <g id="03_Loading" sketch:type="MSArtboardGroup" transform="translate(-569.000000, -607.000000)">
                  <g id="keys" sketch:type="MSLayerGroup" transform="translate(571.000000, 609.000000)">
                      <g id="Fill-1-+-Fill-9" transform="translate(48.000000, 0.000000)" sketch:type="MSShapeGroup">
                          <path d="M34,0 L7.33333333,0 C3.65133333,0 0.666666667,2.98466667 0.666666667,6.66666667 L0.666666667,20 C0.666666667,23.682 3.65133333,26.6666667 7.33333333,26.6666667 L34,26.6666667 C37.682,26.6666667 40.6666667,23.682 40.6666667,20 L40.6666667,6.66666667 C40.6666667,2.98466667 37.682,0 34,0" id="Fill-1" stroke="#00E676" stroke-width="3"></path>
                          <path d="M20.5042667,10.1184 L22.0042667,12.7257333 L23.5042667,15.3330667 L20.5042667,15.3330667 L17.5042667,15.3330667 L19.0042667,12.7257333 L20.5042667,10.1184 Z" id="Fill-9" fill="#FFFFFF"></path>
                      </g>
                      <g id="Fill-3-+-Fill-11" transform="translate(48.000000, 35.000000)" sketch:type="MSShapeGroup">
                          <path d="M34,0.333333333 L7.33333333,0.333333333 C3.65133333,0.333333333 0.666666667,3.318 0.666666667,7 L0.666666667,20.3333333 C0.666666667,24.0153333 3.65133333,27 7.33333333,27 L34,27 C37.682,27 40.6666667,24.0153333 40.6666667,20.3333333 L40.6666667,7 C40.6666667,3.318 37.682,0.333333333 34,0.333333333" id="Fill-3" stroke="#7C4DFF" stroke-width="3"></path>
                          <path d="M20.5042667,16.3333333 L19.0042667,13.6666667 L17.5042667,11 L20.5042667,11 L23.5042667,11 L22.0042667,13.6666667 L20.5042667,16.3333333 Z" id="Fill-11" fill="#FFFFFF"></path>
                      </g>
                      <g id="Fill-5-+-Fill-13" transform="translate(0.000000, 35.000000)" sketch:type="MSShapeGroup">
                          <path d="M33.3333333,0.333333333 L6.66666667,0.333333333 C2.98466667,0.333333333 0,3.318 0,7 L0,20.3333333 C0,24.0153333 2.98466667,27 6.66666667,27 L33.3333333,27 C37.0153333,27 40,24.0153333 40,20.3333333 L40,7 C40,3.318 37.0153333,0.333333333 33.3333333,0.333333333" id="Fill-5" stroke="#00E5FF" stroke-width="3"></path>
                          <path d="M16.8333333,13.6666667 L19.1686667,12.1666667 L21.504,10.6666667 L21.504,13.6666667 L21.504,16.6666667 L19.1686667,15.1666667 L16.8333333,13.6666667 Z" id="Fill-13" fill="#FFFFFF"></path>
                      </g>
                      <g id="Fill-7-+-Fill-15" transform="translate(97.000000, 35.000000)" sketch:type="MSShapeGroup">
                          <path d="M33.6666,0.333333333 L6.99993333,0.333333333 C3.31793333,0.333333333 0.333266667,3.318 0.333266667,7 L0.333266667,20.3333333 C0.333266667,24.0153333 3.31793333,27 6.99993333,27 L33.6666,27 C37.3486,27 40.3332667,24.0153333 40.3332667,20.3333333 L40.3332667,7 C40.3332667,3.318 37.3486,0.333333333 33.6666,0.333333333" id="Fill-7" stroke="#FF4081" stroke-width="3"></path>
                          <path d="M23.6666667,13.6666667 L21.0853333,15.1666667 L18.504,16.6666667 L18.504,13.6666667 L18.504,10.6666667 L21.0853333,12.1666667 L23.6666667,13.6666667 Z" id="Fill-15" fill="#FFFFFF"></path>
                      </g>
                  </g>
              </g>
          </g>
      </svg>
      <p>Navigate using your keyboard arrows</p>
    </div>

    <div id="loader">
      <div class="ring1"></div>
      <div class="ring2"></div>
      <div class="ring3"></div>
      <div class="ring4"></div>
      <div class="ring5"></div>
    </div>

    <p>Generating your blackhole...</p>
  </div>

  <div id="results-container"></div>

</body>

</html>
