<!doctype html>
<html>

<head>
  <title>Supermassive</title>
  <% include ../partials/head %>
</head>

<body>

  <header>
     <% include ../partials/header %>
   </header>

  <div class="container">

      <h1>Supermassive</h1>

      <a href="/login" class="btn">Login</a>
      <a href="/signup" class="btn">Signup</a>

  </div>

  <div id='search-box'><br>
		<!-- <input type="text" name='search' placeholder='Enter a search term...'>
		<button id='search'>search</button> -->

    <button id='random-auto'>Autoplay Random</button><br><br>

		<button id='random-text'>Random Text</button>
    <button id='random-video'>Random Video</button>
    <button id='random-gif'>Random Gif</button>
    <button id='random-image'>Random Image</button>
	</div>

  <div id="results-container"></div>

</body>

</html>
