<!doctype html>
<html>

<head>
  <title>Supermassive</title>
  <% include ../partials/head %>
</head>

<body>

  <header>
    <% include ../partials/header %>
  </header>

  <div id="container">

    <!-- <a href="/login" class="btn">Login</a>
    <a href="/signup" class="btn">Signup</a>
    <a href="/profile" class="btn">Profile</a> -->

    <div id="search-box">
      <input type="text" id="search-field" placeholder="WHAT DO YOU WANT TO SEE?">
      <button id="search-button">Submit</button>

      <div id="random-auto"><a>Show me anything</a></div>
    </div>

  </div>

  <div id="loading">Loading...</div>
  <div id="results-container"></div>

</body>

</html>
