<!doctype html>
<html>

<head>
  <title>Supermassive</title>
  <% include ../partials/head %>
</head>

<body class="profile-page">

  <header>
     <% include ../partials/header %>
  </header>

  <% include ../partials/border %>

  <div id="profile">

      <h1>
        <%= user.local.username %>
        <%= user._id %>
      </h1>

      <a href="/logout" class="btn btn-default btn-sm">Logout</a>

  </div>
</body>

</html>
