<!doctype html>
<html>

<head>
  <title>Supermassive</title>
  <% include ../partials/head %>
  <script src="./js/userfavorites.js"></script>
</head>

<body class="profile-page">

  <header>
     <% include ../partials/header %>
  </header>

  <% include ../partials/border %>

  <div id="profile">

      <div class="profilelist">
        <h1>
          <%= user.local.username %>
        </h1>

        <div class="logout">
          <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        </div>

        <div id="favorites-list">
          <ul class="favorites"></ul>
        </div>
      </div>

  </div>
</body>

</html>
