<!doctype html>
<html>

<head>
  <title>Supermassive</title>
  <% include ../partials/head %>
  <script src="js/trending.js"></script>
</head>

<body>

  <header>
     <% include ../partials/header %>
   </header>

  <div id="trending">

      <h1>Trending Searches</h1>
      <ul class="trending">

      </ul>

  </div>
</body>

</html>
