/*********************    GLOBAL     *********************/

body {
  font-family: helvetica, sans-serif;
  font-size: 16px;
  line-height: 22px;
  padding: 20px;
  height: 100%;
  width: 100%;
  background-color: black;
}
.container {
  height: 80%;
  width: 80%;
}

/*********************    HEADER     *********************/


/* Editing the navbar of the header ---------------------- */

nav > ul {
  display: inline-block;
}

/* CSS to style logo for landing page -------------------- */

#logo {
  width: 225px;
  height: 135px;
  margin-left: 45%;
  margin-top: 80px;
  background-color: black;
}
#logo_login {
  margin-left: 50%;
  margin-top: 10%;
  background-color: black;
}

/*********************    HOME     *********************/


/* CSS to style Search Div, search form ------------------*/

#search_div {
  padding-top: 70px;
  padding-left: 23%;
  padding-bottom: 40px;
}
#search_form {
  width: 630px;
  height: 70px;
  font-size: 30px;
  text-align: center;
  border: 5px solid white;
  background-color: black;
  color: white;
}
#search_form:focus {
  outline: none !important;
  border: 5px solid yellow;
  box-shadow: 0 0 10px #719ECE;
  color: white;
}

/* Span that acts as link to random search ------*/

#random {
  color: grey;
  font-size: 20px;
  text-align: center;
  margin-left: 30%;
}
#random_div {
  margin-left: 100px;
  height: 10px;
  width: 30px;
}

/*********************    SIGNUP     *********************/


/* CSS to style form for signup page -------------------------- */

.signup_form_div {
  margin-left: 100px;
  background-color: black;
}
.form-control {
  border: 5px solid white;
  background-color: black;
  height: 40px;
  width: 430px;
  color: white;
  margin-top: 15px;
}

/* Adds effect of form div turning yellow on click ------------- */

.form-control:focus {
  outline: none !important;
  border: 5px solid yellow;
  box-shadow: 0 0 10px #719ECE;
}

/*********************    LOGIN     *********************/


/* CSS for login page -------------------------------------------*/

.login_div {
  margin-left: 300px;
}
#username {
  color: grey;
}
#password {
  color: grey;
}

/* CSS for trending partial div ----------------------------------*/

#trending {
  height: 420px;
  width: 630px;
  border: 3px solid white;
  background-color: black;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 50px;
}
h1 {
  color: white;
  text-align: center;
  font-size: 25px;
  margin-left: 60px;
}

/*CSS for profile page ------------------------------------------*/

#edit_profile {
  color: white;
}

/* CSS for divs creating colored border -------------------------*/

#frame {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.left-border {
  width: 20px;
  height: 100%;
  background-color: #00e5ff;
  position: absolute;
  left: 0;
  top: 0;
}
.right-border {
  background-color: #ff4081;
  width: 20px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
.top-border {
  background-color: #00e676;
  height: 20px;
  width: 100%;
  position: absolute;
  top: 0;
}
.bottom-border {
  background-color: #7c4dff;
  height: 20px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

/* CSS for trending and Login icon ------------------ */
