<!doctype html>
<html>

<head>
  <title>Supermassive</title>
  <% include ../partials/head %>
    <script src="js/trending.js"></script>
</head>

<body>

  <header>
    <% include ../partials/header %>
  </header>

  <% include ../partials/border %>

    <div id="trending">


      <div class="trendlist">
      <h1>Trending Searches</h1>
        <ul class="trending">

        </ul>
      </div>

    </div>
</body>

</html>
